

/*html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}*/
body {
    background-image: url("../img/rainbowNuerons.gif");
    background-repeat: no-repeat;
    background-size: cover;
 /* width: 100%;
    height: 100%;*/
    margin: 0px auto; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }
 .logo {
    height: 60%;
 }
 .top-bar, .top-bar ul {
    background-color: #3B3B3B;
}
.container {
  margin:10% 5% 15% 21%;
}
img.main {
    height: 400px;
    margin-left: 10%;


}


.btn {
    display: inline-block;
    height: 100%;
    width: 49%;
    margin-bottom: 0;
    color: #ECFFE0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    background-color: rgba(0,0,0,.6);
    white-space: normal;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #AE37B2;
    text-decoration: none;
}

.btn:active,
.btn.active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.left {
    float: left;
}

.right {
    float: right;
}

/* ******************************
          TITLE SCREEN
     (intro-screen-template)
   ****************************** */

#gameArea {
    height: 100%;
    width: 100%;
}

.titleWrapper {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    position: absolute;
    height: 50%;
    width: 96%;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.title {
    margin: 0px auto;
    text-align: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #ECFFE0;
    font-weight: 300;
}

.buttons {
    width: 100%;
    text-align: center;
}

/* ******************************
          START SCREEN
     (create-game-template)
   ****************************** */

.createGameWrapper, .joinGameWrapper, .gameOver {
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    text-align: center;
}

.createGameWrapper .info{
    color: #ECFFE0;
    font-weight: 400;
    font-size: 2em;
    margin-top: 1.5em;
}

.createGameWrapper{
    color: #AE37B2;
    font-weight: 300;
}

.info label {
    display: block;
}

.info input {
    text-align: center;
    padding: 10px;
    width: 200px;
    height: 60px;
    font-family: 'Quicksand', sans-serif;
    color: #A22FB0;
    font-weight: 300;
    font-size: 54px;
    border: 1px dotted white;
    border-radius: 10px;
    background: transparent;
}

.info input#inputPlayerName {
    width: 90%;
    background-color: rgba(0,0,0,.6);
}
.info input#inputGameId{
  background-color: rgba(0,0,0,.6);
}


/* ******************************
           JOIN SCREEN
      (join-game-template)
   ****************************** */

.joinGameWrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 320px;
}

.joinGameWrapper .info {
    font-size: 1.5em;
    color: #ECFFE0;
    height: 30%;
    padding-top: 1%;
}

.joinGameWrapper .btn {
    width: 100%;
    height: 50%;
}

#playerWaitingMessage {
    font-size: .8em;
}

.createGameWrapper #gameURL {
    font-size: 4em;
}

.createGameWrapper .gameId {
    font-size: 8em;
}



/* ******************************
          PLAYER GAME SCREEN

   ****************************** */


#ulAnswers {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#ulAnswers li {
    width: 100%;
    height: 16.6%;
}

.btnAnswer {
    width: 100%;
    border-bottom: 1px dotted white;
    font-weight: 400;
    font-size: 3em;
    color: #ffffff ;
}



/* ******************************
            HOST SCREEN
       (host-game-template)
   ****************************** */

/* Absolute Centering: http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
#wordArea {
    font-family: 'Quicksand', sans-serif;
    white-space: normal;
    font-weight: 400;
    font-size: 45px;
    color:white;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    height: 60%;
    width: 80%;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

#hostWord {
    height: 100%;
    width: 100%;
}

#hostWord h2, #btnPlayerRestart h3 {
    font-size: 161px;
    line-height: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#playerScores {
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
}

.playerScore {
    width: 50%;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    height: 100%;
}

.playerScore span {
    display: inline-block;
    font-size: 1.4EM;
    padding: 2%;
    min-width: 10%;
    margin: 0;
}

.playerScore .score {
    text-align: center;
    background-color: #A8FF56;
}

.playerScore .playerName {
    width: 77%;
    background-color: #ECFFE0;
}

#player1Score {
    float: left;
}

#player2Score {
    float: right;
    text-align: right;
}


/* ******************************
          TITLE SCREEN
     (intro-screen-template)
   ****************************** */

.gameOver {
    display: block;
    height: 20%;
    padding-top: 10%;
    font-size: 2em;
}

.btnGameOver {
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
}


.button-rounded-hover {
  margin-left: 35%;
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #4ab1d3;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #115b8d;
  content: '';
  border-radius: inherit;

}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: #115b8d;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.25;
}



.topbar-responsive {
  background: #2c3840;
  padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #2c3840;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}


.sign-in-form {
  margin: 10% 30% 5% 30%;
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: #3d454f;
  opacity: .9;
}

.sign-in-form h4 {
  color: white;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sign-in-form label {
  text-transform: uppercase;
  color: #adadad;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sign-in-form input {
  color: white;
}

.sign-in-form input:focus {
  opacity: .8;
}

.sign-in-form-username,
.sign-in-form-password {
  border-radius: 30px;
  border: none;
  opacity: .1;
  transition: all ease .4s;
}

.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}

.sign-in-form-button:hover {
  background-color: #44c8ed;
  border-color: #44c8ed;
}


.table-expand {
  margin: 5% 30% 5% 30%;
}

.table-expand td {
  
  color: #8a8a8a;
}

.table-expand tr {
  border: 1px solid #e6e6e6;
}

.table-expand .text-right {
  padding-right: 3rem;
}

.table-expand-row.is-active .expand-icon::after {
  content: '-';
}

.table-expand-row .expand-icon::after {
  content: '+';
  float: right;
}

.table-expand-row-content {
  display: none;
}

.table-expand-row-content.is-active {
  display: table-row;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.table-expand-row-nested {
  background-color: #e6e6e6;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/*catagories*/
/*media screen and (min-width: 40em)*/
.medium-8 {
    width: 100%;
}

h2  {
  color: white;
  text-align: center;
  font-size: 40px;
}
p {
  font-size: 25px;
  width: 100%;
  color: white;
}

.img {
  width: 50%;
}

.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
 margin-top: 5%;
}

.featured-image-block {
  margin-bottom: 20px;
}

.featured-image-block .featured-image-block-title {
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: white;
}

.featured-image-block a:hover p {
  color: #1779ba;
}

.featured-image-block.column {
  width: 25%;
  text-align: center;
}

.small-up-2 .column, .small-up-2 .columns {
   /* width: 30%;*/
    text-align: center;
}

